@keyframes fontWeight {
    from {
        font-variation-settings:
        "wdth" 125,
        "wght" $thin;
    }
    to {
        font-variation-settings:
        "wdth" 125,
        "wght" $heavy;
    }
}



@keyframes drawPath {
    from {
        stroke-dashoffset: 1000; 
    }
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes scaleUp {
    100%{
        transform : scale(.7);
        opacity : .5;
    }
}



@keyframes infiniteRotation {
    100%{
        transform : rotate(360deg)
    }
}


@keyframes slideTop{
    to{
        transform : translateY(0);
        opacity : 1;
    }
}

@keyframes fontBold{
    0%{
        font-variation-settings:
        "wdth" 125,
        "wght" $thin;
    }
    50%{
        font-variation-settings:
        "wdth" 125,
        "wght" $heavy;
    }
    100%{
        font-variation-settings:
        "wdth" 125,
        "wght" $thin;
    }
}


@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-10%, 5%) }
    30% { transform:translate(7%, -10%) }
    40% { transform:translate(-5%, 15%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 10%) }
    90% { transform:translate(-10%, 10%) }
  }