*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family : $font;
}

$elements: 100; 

body{
    cursor : url(../img/icons/cursor-icon.svg), auto;
}

html, body {
    scroll-behavior: smooth;
    background-color: $blanc;
    width : 100%;
   
}

html{

    &.loading{
        height : 100vh;
        overflow-y: overlay;
        @media screen and (max-width : 990px) {
            overflow : hidden;
        }

        body{
            height : 100vh;
            overflow-y: overlay;
            @media screen and (max-width : 990px) {
                overflow : hidden;
            }
        } 
    }

    &.loading-done{
        .hero_container-subtitle{
            animation : slideUp .5s ease 1s forwards;
        }

        .hero_container-title{
            h1{
                animation : slideSide 1.2s ease .7s forwards;
            }
        }

        .hero_container-arrow{
            svg{
                path{
                    &:nth-last-of-type(2){
                        animation: drawPath 2s ease 1.5s forwards;
                    }

                    &:nth-last-of-type(1){
                        animation: drawPath 2s ease 2.4s forwards;
                    }
                }
            }
        }

        .rs_icon{
            @for $i from 1 through $elements {
                &:nth-child(#{$i}) {
                    animation: slideSide .4s ease ($i * .2s) forwards;   
                }
            }
        }

        .nav{
            animation : slideNav 1s ease .1s forwards;
        }

        .hero_loading{
            animation : headerImg 1s ease .7s forwards;
            @media screen and (max-width : 990px) {
                animation : headerImgMobile 1s ease .7s forwards;
            }
           
            .loading_container{
                opacity : 0;
            }
        }

        body{
            height : auto;
            overflow : visible;
        } 
    }
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

input, button, fieldset{
    border: none;
    outline: none;
    background-color: transparent;
}

hr{
    outline: none;
    padding: 0;
    margin: 0;
}


.reveal{
    position : relative;
    width : 100%;
    height : 100%;
}


.hidden-mobile{
    @media screen and (max-width : 990px) {
        display : none !important;
     }
}

.hidden-pc{
    display : none !important;
    @media screen and (max-width : 990px) {
        display : flex !important;
    }
}