*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family : $font;
    font-size : 1.1vw;
    color : $noir;
    @include font;
}

body{
    overflow-x : hidden;
}

body,html {
    box-sizing: border-box;  
    scroll-behavior: smooth;
    background-color: $blanc;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

input, button, fieldset{
    border: none;
    outline: none;
    background-color: transparent;
}

hr{
    outline: none;
    padding: 0;
    margin: 0;
}

