*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family : $font;
    font-size : 1.1vw;
    color : $noir;
    font-variation-settings:
        "wdth" 125,
        "wght" $light;

    @media screen and (max-width : 990px) {
        font-size : 4vw;
    }
}

html, body {
    scroll-behavior: smooth;
    background-color: $blanc;
    width : 100%;
    cursor : url(../img/icons/cursor-icon.svg), auto;
}

html{

    &.loading{
        height : 100vh;
        overflow-y: overlay;
        @media screen and (max-width : 990px) {
            overflow : hidden;
        }

        body{
            height : 100vh;
            overflow-y: overlay;
            @media screen and (max-width : 990px) {
                overflow : hidden;
            }
        } 
    }

    &.loading-done{

        .header_hero-container--subtitle{
            animation : slideUp .5s ease 1s forwards;
        }

        .header_hero-container--title{
            h1{
                animation : slideSide 1.2s ease .7s forwards;
            }
        }

        .header_rs-icon{
            @for $i from 1 through $elements {
                &:nth-child(#{$i}) {
                    animation: slideSide .4s ease ($i * .2s) forwards;   
                }
            }
        }

        .nav{
            animation : slideNav 1s ease .1s forwards;
        }

        .header_hero-loading{
            animation : headerImg 1s ease .7s forwards;
            @media screen and (max-width : 990px) {
                animation : headerImgMobile 1s ease .7s forwards;
            }
           
            .loading_container{
                opacity : 0;
            }
        }

        body{
            height : auto;
            overflow : visible;
        } 
    }

    
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

input, button, fieldset{
    border: none;
    outline: none;
    background-color: transparent;
}

hr{
    outline: none;
    padding: 0;
    margin: 0;
}


.reveal{
    position : relative;
    width : 100%;
    height : 100%;
    border : 1px solid orange;
}


.hidden-mobile{
    @media screen and (max-width : 990px) {
        display : none !important;
     }
}

.hidden-pc{
    display : none !important;
    @media screen and (max-width : 990px) {
        display : flex !important;
    }
}