h1{
    position : relative;
    font-size : 6vw;
    font-weight : $bold;
    line-height : 1.5;
    width : 100%;
    @media screen and (max-width : 990px) {
        font-size : 12vw;
    }

    span{
        display : inline-block;
        font-family : $font;
        font-size : 2.3vw;
        line-height : 1.2;
        font-weight : $light;

        @media screen and (max-width : 990px) {
           font-size : 6vw;
        }
    }
}

h2{
    font-weight : $bold;
    font-size : 3.5vw;
    line-height : 1;
    text-transform: uppercase;

    @media screen and (max-width : 990px) {
        font-size : 7vw;
    }

    span{
        color : inherit;
    }
}

h3{
    font-weight : $bold;
    font-size : 3vw;
    line-height : 1;
    color : $violet;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color : inherit;
    padding : 0;
    margin : 0;
}