@import "../style.scss";

.nav{
    position : fixed;
    top : 2.5vh;
    left : 50%;
    transform : translateX(-50%) translateY(-200%);
    display : flex;
    gap : 1vw;  
    border-radius: 100vmax;
    width : fit-content;
    padding : 1.3vh 1vw;
    border : 2px solid $noir;
    background-color: $blanc;
    z-index : 100;

    @media screen and (max-width : 990px) {
        top : 30px;
        justify-content: flex-end;
        width : calc(100% - 60px);
        padding : 0;
        border-radius : 0;
        background-color: transparent;
        border : none;
    }

    &_menu{
        position : relative;
        display : none;
        width : 8vw;
        height : 6vw;

        &-barre{
            position : absolute;
            left : 0;
            width : 100%;
            height : 2px;
            background-color: $noir;
            will-change : transform;
            transition : .5s ease;

            &:nth-child(1){
                top : 0;
                transform-origin : top;
            }

            &:nth-child(2){
                top : 50%;
                transform : translateY(-50%);
            }

            &:nth-child(3){
                bottom : 0;
                transform-origin : bottom;
            }
        }

        &.active{
            .nav_menu-barre:nth-child(1){
                top : 50%;
                transform : translateY(-50%) rotate(45deg) ;
            }

            .nav_menu-barre:nth-child(2){
                opacity : 0;
            }

            .nav_menu-barre:nth-child(3){
                top : 50%;
                transform : translateY(-50%) rotate(-45deg) ;
            }
        }

        @media screen and (max-width:990px){
            display : flex;      
        }
    }  
}