@import "../style.scss";

.header{
    display : flex;
    justify-content: center;
    align-items: flex-end;
    width : 100%;
    height: 100vh;
    padding : 0 10vw 9vh 10vw;
    overflow : hidden;

    @media screen and (max-width : 990px) {
        padding : 15vh 30px 5vh 30px;
        height: var(--heightJs);
    }

    &_hero{
        display : flex;
        justify-content: space-between;
        width : 100%;

        @media screen and (max-width : 990px) {
            position : relative;
            flex-direction: column;
            justify-content: flex-end;
            height : 100%;
        }

        &-container{
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            width : 35.5vw;
            padding-top : 6.5vh;

            @media screen and (max-width : 990px) {
                position : absolute;
                width : 100%;
                height : 100%;
                padding : 0;
            }

            &--title{
                overflow : hidden;
            }

            &--subtitle{
                display : flex;
                gap : 1vw;
                @media screen and (max-width : 990px) {
                    align-items: center;
                    gap : 2.5vw;
                }

                .bullet{
                    width : 1vw;
                    height : 1vw;
                    background-color: $violet;
                    border-radius : 100vmax;
                    animation : scaleUp infinite 1s linear alternate-reverse;
                    @media screen and (max-width : 990px) {
                        width : 5vw;
                        height : 5vw;
                    }
                }

                p{
                    text-transform : uppercase;
                    font-variation-settings:
                    "wdth" 125,
                    "wght" $light;
                    @media screen and (max-width : 990px) {
                        font-size : 3.5vw;
                    }
                }
            }
        }

        &-img{
            position : relative;
            display : flex;
            justify-content: flex-end;
            align-items: flex-end;
            width : 33vw;
            height : 63vh;
            background-color: $violet;
            border : 2px solid $noir;
            border-radius : 50px;

            @media screen and (max-width : 990px) {
                width : 100%;
                height : 40vh;
                margin-bottom : 7vh;
            }

            .noisy{
                position : absolute;
                top : 0;
                left : 0;
                width : 100%;
                height : 100%;
                overflow : hidden;
                border-radius : 50px;
                z-index : 5;

                &::after {
                    position: absolute;
                    content: "";
                    top: -100%;
                    left: -50%;
                    width: 300%;
                    height: 300%;
                    animation: grain 10s steps(10) infinite;
                    background-image: url("../img/noise-effect2.png");
                    opacity: .25;
                    z-index : 2;
                }
            }

            img{
                width : auto;
                height : 85vh;
                border-radius : 0 0 50px 0;
                z-index : 6;
                @media screen and (max-width : 990px) {
                    width : auto;
                    height : 50vh;
                    object-fit: contain;
                    object-position: bottom;
                }
            }
        }
    }

    &_rs{
        position : fixed;
        display : flex;
        flex-direction: column;
        gap : 1.3vh;
        right : 2vw;
        top : 35.1vh;
        z-index : 100;
        @media screen and (max-width : 990px) {
            display : none;
        }


        &-icon{           
            opacity : 0;
            transform : translateX(100%);
            

            @for $i from 1 through $elements {
                &:nth-child(#{$i}) {
                    animation: slideSide .4s ease (.3s + $i * .1s) forwards;   
                }
            }

            &--bulle{
                display : flex;
                justify-content: center;
                align-items: center;
                width : 2.6vw;
                height : 2.6vw;
                border-radius : 100vmax;
                border : 1.5px solid $noir;
                transition : transform .5s ease;
                will-change : transform;

                svg{
                    width : 1.3vw;
                    height : auto;
                    fill : $noir;
                    transition : transform .5s ease;
                    will-change: transform;
                }
            }
           
            &:hover{       
                .header_rs-icon--bulle{
                    background-color: $noir;
                    border-color : transparent;
                    transform : scale(1.1);
                }     
                
                svg{         
                    fill : $blanc;
                    transform : scale(.85);
                }
            }
        }
    }
}