@import "../style.scss";

.header{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 100vh;
    padding : 0 15vw;

    @media screen and (max-width : 990px) {
        padding : 15vh 30px 5vh 30px;
        height: var(--heightJs);
    }

    &_hero{
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        gap : 10vh;
        width : 100%;

        @media screen and (max-width : 990px) {
            position : relative;
            flex-direction: column;
            justify-content: flex-end;
            height : 100%;
        }

        &-title{
            display : flex;
            flex-direction: column;

            @media screen and (max-width : 990px) {
                position : absolute;
                width : 100%;
                height : 100%;
                padding : 0;
            }

            h1{
                font-size : 6vw;
                font-weight : $bold;
                line-height : 1;
                width : 100%;
                
                @media screen and (max-width : 990px) {
                    font-size : 12vw;
                }
            }

            p{
                font-family : $font;
                font-size : 2.3vw;
                font-weight : $light;
        
                @media screen and (max-width : 990px) {
                   font-size : 6vw;
                }
            }
        }

        &-rs{
            display : flex;
            gap : 1vw;
            z-index : 100;
            @media screen and (max-width : 990px) {
                display : none;
            }
    
            &--icon{
                display : flex;
                justify-content: center;
                align-items: center;
                width : 2.6vw;
                height : 2.6vw;
                border-radius : 100vmax;
                border : 1.5px solid $noir;
                transition : .3s ease;
    
                svg{
                    width : 1.3vw;
                    height : auto;
                    fill : $noir;
                    transition : .3s ease;
                }
    
                &:hover{
                    background-color: $noir;
    
                    svg{
                        fill : $blanc;
                    }
                }
            }
        }
    }  
}