@import "../style.scss";

.projects{
    display : flex;
    flex-direction: column;
    gap : 5vh;
    padding : 15vh 10.4vw 30vh 10.4vw; 
    @media screen and (max-width : 990px) {
        gap : 10vh;
        padding : 10vh 30px;
    } 

    &_title{
        position : relative;
        display : flex;
        justify-content: space-between;

        h2{
            @media screen and (max-width : 990px) {
                width : 100%;
            }
        }

        &-eyes{
            width : 10.9vw;
            height : auto;
            padding-top : 4.6vh;
            @media screen and (max-width : 990px) {
                position : absolute;
                right : 5vw;
                bottom : -20vw;
                width : 20vw;
            }

            img{
                width : 100%;
                height : auto;
            }
        }
    }

    &_container{
        position : relative;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width : 100%;

        &-bloc{
            position : sticky;
            top : 0;
            display : flex;
            justify-content: center;
            align-items: flex-end;
            width : 100%;
            height : 100vh;
            transform : rotate(1.5deg);
            padding-bottom : 7vh;
            @media screen and (max-width : 990px) {
                padding-bottom : 5vh;
                transform : none;
            }
 
            &--content{
                display : flex;
                align-items: flex-end;
                width : 100%;
                height : 75vh;      
                @media screen and (max-width : 990px) {
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius : 30px;
                    background-color: $noir;
                    height : 80vh;
                }
                

                &-left{
                    display : flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width : 41vw;
                    height : 100%;
                    border-radius : 50px 50px 0 50px;
                    background-color: $noir;
                    padding : 2.5vw;

                    @media screen and (max-width : 990px) {
                        justify-content: flex-start;
                        gap : 2.5vh;
                        width : 100%;
                        height : fit-content;
                        border-radius : 0;
                        padding : 0;
                        border-radius : 0 30px 0 0;
                    }

                    .description{
                        display : flex;
                        flex-direction: column;
                        gap : 5vh;
                        @media screen and (max-width : 990px) {
                            gap : 0;                     
                        }

                        h3{
                            color : $blanc;

                            @media screen and (max-width : 990px) {
                                display : flex;
                                align-items: center;
                                margin-top : -5vh;
                                border-radius : 30px 30px 0 0;
                                padding : 30px;
                                width : fit-content;
                                min-width : 80%;
                                max-width : 80%;
                                min-height : 5vh;
                                background-color: $noir;
                            }
                        }

                        &_txt{
                            display : flex;
                            flex-direction: column;
                            gap : 4vh;
                            @media screen and (max-width : 990px) {
                                gap : 2.5vh;
                                padding-top : 2.5vw;
                            }

                            p{
                                line-height : 1.5;
                                color : $blanc;

                                &.text{
                                    @media screen and (max-width : 990px) {
                                        font-size : 3vw;
                                    }
                                }

                                &.annotation{
                                    font-size : 1vw;
                                    font-style : italic;

                                    @media screen and (max-width : 990px) {
                                        font-size : 3vw;
                                    }
                                }
                                
                                @media screen and (max-width : 990px) {
                                    font-size : 3.5vw;
                                    padding : 0 30px;
                                }
                            }
                        }   
                    }

                    .perks{
                        display : flex;
                        flex-wrap: wrap;
                        gap : .5vw;

                        @media screen and (max-width : 990px) {
                            gap : 2vw;
                            padding : 0 30px;
                        }

                        .bouton{
                            z-index : 5;
                            cursor : url(../img/icons/cursor-icon.svg), auto;
                            @media screen and (max-width : 990px) {
                                font-size : 3.5vw;
                                flex-grow: 1;
                                padding : .5vh 5vw;

                                &:last-child{
                                    flex-grow: initial
                                }
                            }
                        }
                    }
                }

                &-right{
                    display : flex;
                    justify-content: center;
                    align-items: center;
                    width : calc(100% - 41vw); 
                    height : 65vh;
                    border-radius : 0 50px 50px 0;
                    background-color: $noir;
                    padding : 2vw;

                    @media screen and (max-width : 990px) {
                        width : 100%;
                        height : 100%;
                        border-radius : 0 0 30px 30px;
                        padding : 30px;
                    }

                    .mockup{
                        position : relative;
                        display : flex;
                        justify-content: center;
                        align-items: center;
                        width : 100%;
                        height : 100%;
                        z-index : 5;                     

                        img{
                            width : 100%;
                            height : 100%;
                            object-fit: cover;
                            object-position: left;
                            border-radius : 30px;
                        }

                        &_bouton{
                            position : absolute;
                            bottom : -2px;
                            right : -2px;
                            width : 12vw;
                            height : 7vh;
                            background-color: $noir;
                            border-radius : 30px 0 0 0;
                            z-index : 10;
                            transition : .5s ease;
                            @media screen and (max-width : 990px) {
                                bottom : 2vw;
                                right : 2vw;
                                width : fit-content;
                                height : fit-content;
                                border-radius : 100vmax;
                                padding : 1.3vh 5vw;  
                            }

                            p{
                                display : flex;
                                justify-content: center;
                                align-items: center;
                                width : 100%;
                                height : 100%;
                                color : $blanc;
                                @media screen and (max-width : 990px) {
                                    font-size : 5vw;
                                }
                            }
                        }

                        &:hover{
                            .mockup_bouton{
                                height : 20vh;
                                @media screen and (max-width : 990px) {
                                    width : fit-content;
                                    height : fit-content;
                                }
                            } 
                        }
                    }  
                }
            }

            &:nth-child(even){
                .projects_container-bloc--content-left, .projects_container-bloc--content-right{
                    background-color: $violet;         
                }

                .projects_container-bloc--content-right .mockup_bouton{
                    background-color: $violet;
                    color : $blanc;
                }

                .projects_container-bloc--content, h3{
                    @media screen and (max-width : 990px) {
                        background-color: $violet;
                    }
                }
            }

            &:nth-child(2){
                padding-bottom : 6vh;
                transform : rotate(-2deg);
                @media screen and (max-width : 990px) {
                    padding-bottom : 5vh;
                    transform : none;
                }
            }
            &:nth-child(3){
                padding-bottom : 4vh;
                transform : rotate(1deg);
                @media screen and (max-width : 990px) {
                    padding-bottom : 5vh;
                    transform : none;
                }
            }
            &:nth-child(4){
                padding-bottom : 6vh;
                transform : rotate(-2deg);
                @media screen and (max-width : 990px) {
                    padding-bottom : 5vh;
                    transform : none;
                }
            }
        }
    }
}