@import "../style.scss";

.skills{
    overflow : hidden;
    @media screen and (max-width : 990px) {
        gap : 0;
        padding : 20vh 0;
    }

    &_title{
        padding : 0 10vw;
        margin-bottom : 30vh;
        @media screen and (max-width : 990px) {
            width : 100%;
            padding : 0 30px;
            margin-bottom : 10vh;
        }
    } 

    &_domain{
        padding : 0 10vw 30vh 10vw;
        @media screen and (max-width : 990px) {                   
            padding : 0 30px;
        }

        &-container{
            display : flex;
            flex-wrap: wrap;
            gap : 1.5vw;
            @media screen and (max-width : 990px) {                   
                flex-direction: column;
                flex-wrap: nowrap;
                gap : 5vw;
            }

            .bloc{
                position : relative;
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                border : 2px solid $noir;
                border-radius : 30px;
                padding : 2.5vw;
                min-width : 18.5vw; 
                width : 18.5vw;
                min-height : 45vh;
                overflow : hidden;
                z-index : 1;
               
                @media screen and (max-width : 990px) {
                    gap : 8vh;
                    width : 100%;
                    min-width : 100%;
                    min-height : 40vh;
                    padding : 30px;
                }

                &:not(.txt, .projet){
                    &::after{
                        position : absolute;
                        content : "";
                        top : 50%;
                        left : 50%;
                        transform : translate(-50%, -50%);
                        width : 50%;
                        height : 50%;
                        background-color: $noir;
                        border-radius : 30px;
                        opacity : 0;
                        z-index : -1;
                    }
                }

                &-icon{
                    width : 3vw;
                    height : 3vw;
                    overflow : hidden;

                    svg{
                        width : 100%;
                        height : 100%;
                        fill : $violet;
                        transition : 0 ease;
                    }

                    @media screen and (max-width : 990px) {
                        width : 10vw;
                        height : 10vw;
                    }
                }

                &-content{
                    display : flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap : 2vh;
                    height : 100%;
                    overflow : hidden;

                    &--title{
                        h3{
                            font-size : 1.7vw;
                            text-transform: uppercase;
                            font-variation-settings:
                                "wdth" 125,
                                "wght" $heavy;

                            @media screen and (max-width : 990px) {
                                font-size : 8vw;
                            }
                        } 
                    }

                    &--list{
                        div{
                            margin-bottom : -100%;
                            transition : 1.2s ease;
                            @media screen and (max-width : 990px) {
                                margin-bottom : 0;
                            }

                            p{
                                font-size : .9vw;
                                @media screen and (max-width : 990px) {
                                    margin-bottom : 0;
                                }
                            }
                        }
                    }
                }

                &:hover:not(.txt, .projet, .langage){
                    cursor : url(../img/icons/cursor-pointer-icon.svg), auto;

                    &::after{
                        width : 105%;
                        height : 105%;
                        opacity : 1;
                        transition : .5s ease;
                    }

                    .bloc-icon{
                        svg{
                            fill : $blanc;
                        }
                    }

                    .bloc-content{
                        &--list{
                            div{
                                margin-bottom : 0;
                                transition : .6s ease .2s;

                                p{
                                    color : $blanc;
                                }
                            } 
                        }

                        &--title{
                            height: auto;

                            h3{
                                color : $blanc;
                            }
                        }
                    }   
                }

                &.txt{
                    position : relative;
                    width : 39vw;              
                    background-color : $violet;
                    overflow : hidden;
                    @media screen and (max-width : 990px) {
                        display : none;
                    }

                    .bloc-content{
                        justify-content: space-between;

                        &--title{
                            h3{
                                color : $blanc;
                            }
                        }

                        &--txt{
                            p{
                                color : $blanc;
                            }
                        }

                        &--btn{
                            display : flex;
                            flex-wrap: wrap;
                            gap : .5vw;
                            

                            .bouton{
                                padding : 1vh 1.5vw;
                                font-size : 1vw;
                            }
                        }

                        &--img{
                            position : absolute;
                            bottom : -4vw;
                            right : -4vw;
    
                            img{
                                width : 15vw;
                                height : auto;
                            }
                        }
                    } 

                    &::after {
                        position: absolute;
                        content: "";
                        top: -100%;
                        left: -50%;
                        width: 300%;
                        height: 300%;
                        animation: grain 10s steps(10) infinite;
                        background-image: url("../img/noise-effect2.png");
                        opacity: .25;
                        z-index : 2;
                    }
                }
    
                &.projet{
                    justify-content: center;
                    align-items: center;
                    border : none;
                    padding : 0;
                    overflow : hidden;
                    @media screen and (max-width : 990px) {
                        display : none;
                    }
    
                    p{
                        color : $violet;
                        text-transform : uppercase;

                        &:nth-of-type(1){
                            font-size : 7.5vw; 
                            line-height : .7; 
                            font-variation-settings:
                                "wdth" 125,
                                "wght" $heavy; 
                            @media screen and (max-width : 990px) {
                                font-size : 22vw;
                            }
                        }
                        &:nth-of-type(2){
                            font-size : 2.7vw;  
                            line-height : 1; 
                            font-variation-settings:
                                "wdth" 125,
                                "wght" $heavy; 
                            @media screen and (max-width : 990px) {
                                font-size : 8vw;
                            }
                        }
                    }
                }
            }

            .pastille{
                position : relative;
                flex : 1;

                img{
                    position : absolute;
                    top : -6vw;
                    right : -1vw;
                    width : 14vw;
                    height : auto;
                    z-index : 5;

                    &.txt{
                        animation : infiniteRotation 15s linear infinite forwards;
                    }
                }
            }
        }
    }
}