@import "../style.scss";

.skills{
    display : flex;
    flex-direction: column;
    gap : 10vh;
    overflow : hidden;
    @media screen and (max-width : 990px) {
        gap : 0;
        padding : 20vh 0;
    }

    &_title{
        padding : 0 10vw;
        @media screen and (max-width : 990px) {
            width : 100%;
            padding : 0 30px;
            margin-bottom : 10vh;
        }
    } 

    &_container{
        display : flex;
        gap : 10vw;
        padding : 0 0 0 10vw;
        @media screen and (max-width : 990px) {
            gap : 0;
            padding : 0 30px;
            margin-bottom : 5vw;
        }

        &-list{
            width : 50vw;
            @media screen and (max-width : 990px) {
                width : 100%;
            }

            p{
                font-size : 1.5vw;
                border-bottom : 2px solid $noir;
                padding : 1.5vw 0;
                text-transform : uppercase;
                @media screen and (max-width : 990px) {
                    width : 100%;
                    font-size : 5vw;
                    padding : 5vw 0;
                }

                &:nth-of-type(8){
                    border-bottom : none;
                }
            }
        }

        &-img{     
            width : 10vw;
            height : auto;
            @media screen and (max-width : 990px) {
                display : none;
            }

            img{
                width : 100%;
                height : auto;
                transform : rotate(-5deg) translateY(-2rem);
                
            }
        } 
    }

    &_domain{
        padding : 0 10vw 30vh 10vw;
        @media screen and (max-width : 990px) {                   
            padding : 0 30px;
        }

        &-container{
            display : flex;
            flex-wrap: wrap;
            gap : 1.5vw;
            @media screen and (max-width : 990px) {                   
                flex-direction: column;
                flex-wrap: nowrap;
                gap : 5vw;
            }

            .bloc{
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                border : 2px solid $noir;
                border-radius : 30px;
                padding : 2.5vw;
                min-width : 18.5vw; 
                width : 18.5vw;
                min-height : 42vh;
                transition : .3s ease;
                @media screen and (max-width : 990px) {
                    gap : 8vh;
                    width : 100%;
                    min-width : 100%;
                    min-height : 30vh;
                    padding : 30px;
                }
    
                &-icon{
                    width : 2vw;
                    height : 2vw;
                    border : 2px solid $noir;
                    background-color: $blanc;
                    border-radius : 13px;
                    margin-top : -1vw;
                    margin-left : -1vw;
                    @media screen and (max-width : 990px) {
                        width : 5.5vw;
                        height : 5vw;
                        margin-left : 0;
                    }
                }
    
                h3{
                    font-size : 1.3vw;
                    text-transform: uppercase;
                    transition : .3s ease;
                    @media screen and (max-width : 990px) {
                        font-size : 6vw;
                    }
                }

                &:hover:not(.txt, .projet){
                    transform : rotate(-3deg);
                }
    
                &.txt{
                    align-items: center;
                    justify-content: center;
                    padding : 3vw;
                    width : 39vw;              
                    background-color : $noir;
                    border : none;
                    overflow : hidden;
                    @media screen and (max-width : 990px) {
                        display : none;
                    }
                    
                    p{
                        line-height : 1.3;
                        color : $blanc;
                        text-transform: uppercase;
                    }
                }
    
                &.projet{
                    justify-content: center;
                    align-items: center;
                    background-color: $noir;
                    border : none;
                    overflow : hidden;
    
                    p{
                        color : $violet;
                        text-transform : uppercase;

                        &:nth-of-type(1){
                            font-size : 5vw;  
                            font-variation-settings:
                                "wdth" 125,
                                "wght" $heavy; 
                            @media screen and (max-width : 990px) {
                                font-size : 22vw;
                            }
                        }
                        &:nth-of-type(2){
                            font-size : 2vw;  
                            font-variation-settings:
                                "wdth" 125,
                                "wght" $heavy; 
                            @media screen and (max-width : 990px) {
                                font-size : 8vw;
                            }
                        }
                    }
                }
            }
        }
    }


    &_sticky{
        width : 100%;
        padding : 0 10vw 30vh 10vw;

        &-container{
            position : relative;
            height : 300vh;
            transition : .5s ease .5s;

            @media screen and (max-width : 990px) {
                height : 100vh;
                
            }

            .bloc{
                position : sticky;
                top : 0;
                display : flex;
                flex-direction: column;
                justify-content: center;
                width : 100%;
                height : 100vh;

                @media screen and (max-width : 990px) {
                    height : 33.333333333333336vh;
                }
    
    
                &-title{
                    font-size : 15vw;
                    line-height : .8;
                    color : $violet;
                    text-transform: uppercase;
                    font-variation-settings:
                        "wdth" 125,
                        "wght" $heavy;
    
                    @media screen and (max-width : 990px) {
                        font-size : 18vw;
                    }
                }
    
                &-subtitle{
                    display : flex;
                    flex-direction: column;
    
                    &--1{
                        transition : 1s ease;
                    }
    
                    &--2{
                        transition : 1s ease;
                    }
    
                    p{
                        font-size : 4vw;
                        text-transform: uppercase;
                        font-variation-settings:
                            "wdth" 125,
                            "wght" $medium;
                        font-style : italic;
                        @media screen and (max-width : 990px) {
                            font-size : 6vw;
                        }
    
                        &:nth-of-type(2){
                            padding-left : 10vw;
                            @media screen and (max-width : 990px) {
                                padding-left : 0;
                                align-self: flex-end;
                            }
                        }
                    }
                }
    
                &:nth-child(1){
                    .bloc-subtitle{
                        visibility : hidden;
                    }
                }
                &:nth-child(2){
                    .bloc-title, .bloc-subtitle--2 {
                        visibility:hidden;
                    }
                }
                &:nth-child(3){
                    .bloc-title, .bloc-subtitle--1{
                        visibility:hidden;
                    }
                }
            }
        }
    } 
}